.pullContainer {
    padding: 1.5rem 0;
}

.pullContainer * {
    margin-bottom: 0.25rem;
    font-size: 1.2rem;
}

.avatar {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: -0.2rem;
    border-radius: 50%;
}