
.pullDetails {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.pullApproved {
  .label {
    background-color: grey !important;
  }

  > div, a:link, a:visited {
    color: grey;
  }

  .avatar {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

.avatar {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  margin: 0 0.5rem -0.5rem 0.5rem;
}

.label {
  color: #242424;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  margin-right: 0.25rem;
}

.expansion {
  padding: 1rem;
}

.reviewStep {
  margin: 0.5rem 0;
}